@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

.page-1 {
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  --color-text: #ededed;
  --color-bg: #000;
  --color-link: #fff;
  --color-link-hover: #5d5050;
  --color-info: #5d5050;
  --color-menu: #fff;
  --color-menu-hover: #fff;
  --color-title: #fff;
  --color-subtitle: #ededed;
  --color-deco: #161616;
}

.glow-on-hover {
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  padding: 0;
  font-size: inherit;
  font-family: 'Montserrat';
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

.glow-on-hover:active {
  color: var(--text-color);
  background: var(--btn-color);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: fit-content;
  height: fit-content;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 50px;
  background: #48ff00;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

a.white-mode,
a.white-mode:link,
a.white-mode:visited,
a.white-mode:active {
  font-family: 'Montserrat';
  font-size: 12px;
  text-decoration: none;
  background: #212121;
  padding: 4px 8px;
  color: #f7f7f7;
}
a.white-mode:hover,
a.white-mode:link:hover,
a.white-mode:visited:hover,
a.white-mode:active:hover {
  background: #edf3f8;
  color: #212121;
}

.awesome {
  align-items: center;
  background: rgb(20, 20, 20);
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 200px;
}
.text {
  color: white;
  position: absolute;
  transition: opacity 300ms;
  user-select: none;
  -moz-user-select: none;
}
.fingerprint {
  height: fit-content;
  width: fit-content;
  left: -8.5px;
  opacity: 0;
  position: absolute;
  stroke: #777;
  top: -9px;
  transition: opacity 1ms;
}
.fingerprint-active {
  stroke: #fff;
}
.fingerprint-out {
  opacity: 1;
}
.odd {
  stroke-dasharray: 0px 50px;
  stroke-dashoffset: 1px;
  transition: stroke-dasharray 1ms;
}
.even {
  stroke-dasharray: 50px 50px;
  stroke-dashoffset: -41px;
  transition: stroke-dashoffset 1ms;
}
.ok {
  opacity: 0;
  height: fit-content;
  width: fit-content;
}
.active.awesome {
  animation: 6s awesome;
}
.active .text {
  opacity: 0;
  animation: 6s Text forwards;
}
.active .fingerprint {
  opacity: 1;
  transition: opacity 300ms 200ms;
}
.active .fingerprint-base .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 800ms 100ms;
}
.active .fingerprint-base .even {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 800ms;
}
.active .fingerprint-active .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 2000ms 1500ms;
}
.active .fingerprint-active .even {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 2000ms 1300ms;
}
.active .fingerprint-out {
  opacity: 0;
  transition: opacity 300ms 4100ms;
}
.active .ok {
  opacity: 1;
  animation: 6s Ok forwards;
}
@keyframes awesome {
  0% {
    width: 200px;
  }
  6% {
    width: 80px;
  }
  71% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  77% {
    transform: scale(1);
  }

  94% {
    width: 80px;
  }
  100% {
    width: 200px;
  }
}
@keyframes Text {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  6% {
    opacity: 0;
    transform: scale(0.5);
  }

  94% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Ok {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
    transform: scale(1.1);
  }
  77% {
    opacity: 1;
    transform: scale(1);
  }
  92% {
    opacity: 1;
    transform: scale(1);
  }
  96% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
  }
}
/* 
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
} */

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: '. main main .' '. main main .';
  }

  #awesome {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}

.background {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  /* left: 0;
  top: 0; */
  width: 100vw;
  height: 100vh;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf3f8', endColorstr='#dee3e8',GradientType=1 );
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Montserrat';
  text-align: center;
  width: 60%;
}
/* .title h1 {
  position: relative;
  color: #000000;
  font-weight: 300;
  font-size: 46px;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.title h2 {
  font-weight: 600;
  font-size: 60px;
  padding: 0;
  margin: 0;
  line-height: 1;
}*/
h2 {
  font-weight: 200;
  font-size: 1em;
  padding-top: 20px;
  margin: 0;
  line-height: 2;
  color: #fefeff;
  letter-spacing: 2px;
  font-family: 'Montserrat';
}

h3 {
  /* font-weight: 200; */
  font-size: 1.2em;
  padding-top: 20px;
  margin: 0;
  line-height: 2;
  color: #fefeff;
  letter-spacing: 2px;
  font-family: 'Montserrat';
}

/* .title p {
  font-weight: 200;
  font-size: 16px;
  color: #5e7283;
}  */

.pentahedron {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3e82f7;
}

.point {
  fill: #8491a3;
}

.rhombus {
  fill: #2da94f;
  stroke: #2da94f;
}

.x {
  fill: #fdbd00;
}

.circle {
  fill: #ed412d;
}

svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateZ(0px);
}
